* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("img/woman-reading-note-diary-bed-breakfast-morning.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Adjust the blur amount */
    z-index: -1;
  }
  .login-container {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  
    /* Apply backdrop blur */
    backdrop-filter: blur(10px); /* Adjust the blur level */
  }
  h2 {
    margin-bottom: 1.5rem;
  }
  h3{
    animation: slideFromRight 1s ease forwards;
    animation-delay: 0.3s; /* Delay for username field */
  }
  label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin: 0.5rem 0 0.2rem;
  }
  
  input, button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0; /* Start hidden for animation */
  }

  /* Slide-in animations for inputs and button */
  input:nth-of-type(1) {
    animation: slideFromLeft 1s ease forwards;
    animation-delay: 0.3s; /* Delay for username field */
  }

  input:nth-of-type(2) {
    animation: slideFromRight 1s ease forwards;
    animation-delay: 0.5s; /* Delay for password field */
  }
  
 
  button {
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    animation: slideFromBottom 1s ease forwards;
    animation-delay: 0.7; /* Delay for login button */
  }

  button:hover {
    background-color: #0056b3;
  }
  .error {
    color: red;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
   /* Slide-in animations */
   @keyframes slideFromTop {
    0% { transform: translateY(-100vh); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }

  @keyframes slideFromBottom {
    0% { transform: translateY(300vh); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }

  @keyframes slideFromLeft {
    0% { transform: translateX(-100vw); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }

  @keyframes slideFromRight {
    0% { transform: translateX(100vw); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }
 
  